@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
	display: block;
}

.container {
	height: 63px;
	padding: 0 24px 0 24px;
	display: flex;
	align-items: center;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 276px;

	.logo {
		transform: scale(1.6);
	}

	.title {
		@media @tui-mobile {
			display: none;
		}
	}

	@media @tui-mobile {
		width: auto;
		flex-grow: 1;

		.title {
			display: none;
		}
	}
}

.services {
	height: 100%;
	margin-left: 24px;
}
